node_modules
dist
!app/ui/vendor/**/dist/
.env
docker/.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
docs/

.git_original_during_wip
.aider*
data
deploy.sh
CLAUDE.md
TEMP_PLAN.md

framagit_murmure
TODO.md

